<div class="mt-3">
  <h1> <%= @job.title %> </h1>
  <p> <%= @job.description %> </h2>

  <!-- split -->
  <div class="row">
    <div class="col-md-6"> 
      <!-- Uploaded image -->
      <%= image_tag(@job.upload, class: 'img-fluid')%>
    </div>
    <div class="col-md-6"> 
      <div> 
        <h2>Text Detected</h2>
        <!-- TODO: has text -->
        <%= @job.run&.resolved_text.present? ? @job.run.resolved_text : "No resolved result" %>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <%= link_to "Save Results", 
            download_job_path(@job), 
            remote: true %>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>
