<%= form_with(model: @secret) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
    <small id="name_help" class="form-text text-muted">The name of this API Key</small>
  </div>

  <div class="form-group">
    <%= f.label :blob %>
    <%= f.text_field :token, class: 'form-control' %>
    <small id="key_help" class="form-text text-muted">The API Key token</small>
  </div>

  <%= f.submit "Add", class: "btn btn-primary"%>
<%end%>
