<%= form_with(model: @secret) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
    <small id="name_help" class="form-text text-muted">The name of this credential</small>
  </div>

  <div class="form-group">
    <%= f.label :blob %>
    <%= f.text_field :blob, class: 'form-control' %>
    <small id="blob_help" class="form-text text-muted">The credential value</small>
  </div>

  <div class="form-group">
    <%= f.label :vendor_id %>
    <small id="vendor_help" class="form-text text-muted">The vendor value</small>

    <div class="form-group">
      <%= f.select :vendor, Secret.vendors.keys.map(&:capitalize) %>
    </div>

  </div>
  <%= f.submit "Add", class: "btn"%>
<%end%>
